#green {
    background-color:forestgreen;
    width: 80%;
    height: 30px;
}
#blue {
    background-color:rgb(51, 51, 167);
    width: 20%;
    height: 30px;
}
#red {
    background-color:red;
    width: 40%;
    height: 60px;
}
#orange {
    background-color:orange;
    width: 50%;
    height: 30px;
}
#grey {
    background-color:rgba(128, 128, 128, 0.911);
    width: 50%;
    height: 30px;
}

#orange2 {
    background-color:rgb(255, 230, 0);
    width: 33%;
    height: 30px;
}
#red2 {
    background-color:rgb(199, 74, 43);
    width: 33%;
    height: 30px;
}
#green2 {
    background-color:rgb(63, 158, 63);
    width: 34%;
    height: 30px;
}
#ligne1 { 
    display:flex;
}
#ligne2 {
    display:flex;
    
}
#multi {
    width: 60%;
    height: 60px;
}
#l2a {
    display:flex;
}
#l2b {
    display:flex;
}
#ligne3 {
    background-color: rgb(3, 3, 3);
    width: 100%;
    height: 90px;
}
